<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Detalle del Ticket</h1>

        <h2>Descripción: {{ ticket.description.name }}</h2>
        <p><strong>Fecha:</strong> {{ ticket.date.strftime('%Y-%m-%d') }}</p>
        <p><strong>Cantidad Total:</strong> €{{ ticket.total_amount }}</p>

        <h2>Productos</h2>
        {% if product_tickets %}
            <table class="ticket-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in product_tickets %}
                        <tr>
                            {% if item.product %}
                                <td><a href="{{ url_for('main.product_history', product_id=item.product.id) }}"><strong>{{ item.product.name }}</strong></a></td>
                                <td>{{ item.quantity }}</td>
                                <td>€{{ item.price }}</td>
                                <td><strong>€{{ (item.price * item.quantity) | round(2) }}</strong></td>
                            {% else %}
                                <td colspan="4">Producto no encontrado</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        {% else %}
            <p>No hay productos asociados a este ticket.</p>
        {% endif %}
        
        <a href="{{ url_for('main.view_tickets') }}" class="add-expense-link">Volver a Tickets</a>
    </div>
</body>
</html>
